@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gineto Regular";
    src: url("/Gineto-Regular.otf");
  }
  
@layer utilities {
  .rtl {
    direction: rtl;
  }

  .active-link {
    @apply text-gray-sho !important;
  }
  
}